<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-mqtt="http://www.springframework.org/schema/integration/mqtt"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-4.1.xsd
    http://www.springframework.org/schema/integration/mqtt http://www.springframework.org/schema/integration/mqtt/spring-integration-mqtt-4.1.xsd">

	<!-- Spring中引入公共配置文件 -->
    <import resource="classpath:spring-integration-mqtt-common.xml" />

	<!-- 消息适配器 -->
	<int-mqtt:message-driven-channel-adapter id="mqttInbound" client-id="#{ T(java.lang.Math).random() * 10000000}" url="tcp://192.168.1.101:1883"
		topics="myqueue" qos="1" client-factory="clientFactory"
		auto-startup="true" send-timeout="12" channel="myChannel" />

	<!-- 频道 -->
	<int:channel id="myChannel" />

	<!-- 消息处理激活类 -->
	<int:service-activator id="myServiceActivator"
		input-channel="myChannel" ref="myConsumer" method="consumerForBusiness" />

	<!-- 消息处理业务类 -->
	<bean id="myConsumer" class="com.nicchagil.springintegrationmqttexervice.MyConsumer" />

</beans>