<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd   
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
    http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">
    
    <!-- 连接工厂 -->
	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="failover:(tcp://host-Z-A:61616,tcp://host-Z-B:61616,tcp://host-Z-C:61616)" />
	</bean>

	<!-- 声明队列 -->
	<bean id="myQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>myQueue</value>
		</constructor-arg>
	</bean>
	
	<!-- JMS操作模板 -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
	    <property name="connectionFactory" ref="connectionFactory"/>
	    <property name="receiveTimeout" value="2000" />
	</bean>
	
	<!-- Spring扫描组件的路径 -->
	<context:component-scan base-package="com.nicchagil" />

	<!-- 消费者监听器 -->
	<bean id="jmsListenerContainerFactory" class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
    	<property name="connectionFactory" ref="connectionFactory"/>
	</bean>
	
	<!-- 支持@JmsListener自动启动监听器 -->
	<jms:annotation-driven/>
	
</beans>